# Секретные файлы сессий (ТВОЙ АККАУНТ)
*.session
*.session-journal

# Виртуальное окружение (тяжелые папки)
venv/
.venv/
env/

# Кэш Python и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы настроек (если будешь использовать)
.env

# Логи ошибок
*.log
